{% extends "base.html" %}

{% block content %}

<h1>Manage Account</h1>

<!-- <div>
    <h5>Username</h5>
    <p>Username: {{ user.username }}</p>
    <button>Change Username</button>
</div> -->
<div>
    <form action="">
        <h5>Change Password</h5>
        <input type="password" placeholder="Old Password">
        <input type="password" name= "password1" placeholder="New Password">
        <input type="password" name="password2" placeholder="Repeat New Password">
        <button>Change Password</button>
    </form>
    
</div>
<div>
    <h5>Delete Account</h5>
    <button>Delete Foody Family Account</button>
    <p>Account Deletion is Permanent!</p>
</div>


{% endblock %}