/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Ribeye+Marrow&display=swap');

/* Sticky Footer from https://css-tricks.com/couple-takes-sticky-footer/ */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Baloo Thambi 2', cursive;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.header {
    font-family: 'Ribeye Marrow', cursive;
    font-size: xx-large;
    color: #A7490D;
}

main {
    margin-left: 7%;
    margin-right: 7%;
}

/* Nav stylling*/
.nav-style {
    font-size: large;
}

.nav-icon {
    margin-right: 15px;
    color: #A7490D;
}

.welcome-usr {
    color: #A7490D;
}

/* homepage landing stylling */
.home-img {
    background: url('https://res.cloudinary.com/sjb21/image/upload/v1642009399/static/landing-image_jaq8ob.jpg') no-repeat center center fixed;
    max-height: 500px;
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title {
    color: white;
    background: rgba(15, 15, 15, 0.233);
    text-align: center;
    margin: 150px 100px;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
}

.welcome-title {
    font-family: 'Ribeye Marrow', cursive;
}

/* Headings stylling for all pages */
h1 {
    text-align: center;
    margin: 20px;
}

/* Recipe Card Stylling */
.card-position {
    margin-bottom: 10px;
}

.card-icons {
    color: #0b1726;
    padding-right: 5px;
}

.recipe-card-img {
    /* w3schools used to find object-fit property*/
    max-height: 191px;
    object-fit: cover;
}

/* recipe detail stylling */
.recipe-heading {
    height: 301px;
    background-color: #ECECE2;
}

.details-img {
    max-height: 300px;
    object-fit: cover;
}

.recipe-title {
    text-align: left;
    margin-left: 0;
}

.recipe-display {
    float: left;
}

.recipe-top {
    margin-top: 3%;
}

.rec-detail {
    clear: both;
}

.left-div {
    width: 25%;
}

.right-div {
    height: 300px;
    width: 75%;
}

.method {
    width: 75%;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
}

.ingredients {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
}

/* Add Recipe Stylling */
.add-btn {
    margin-top: 20px;
}

.add-btn:hover {
    color: #A7490D;
    background-color: ghostwhite;
}

/* Pagination Stylling */
.paginate {
    border-radius: 5px;
    color: #A7490D;
    margin-top: 20px;
}

.paginate:hover {
    color: #0b1726;
}

/* footer stylling */
.footer {
    background-color: #0b1726;
    margin-top: 25px;
    color: #ecece2;
    text-align: center;
    font-size: 20px;
}

.footer p {
    padding-top: 20px;
    margin: 0;
}

.footer a {
    color: #ecece2;
    padding: 5px;
}

.social-links {
    color: #ecece2;
    padding: 20px;
    margin: 0;
    font-size: 30px;
}

.social-links a:hover {
    color: #A7490D;
}

/* Change Password Form Stylling */
#change-pw {
    margin: 0 auto;
    width: 50%;
    background-color: #ECECE2;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.errorlist {
    display: none;
}

#error_1_id_title,
#error_1_id_preparation_length,
#error_1_id_cooking_length,
#error_1_id_total_length,
#error_1_id_ingredients,
#error_1_id_instructions {
    display: none;
}

.form-control.is-invalid {
    border-color: #ced4da;
}

#div_id_instructions input {
    border: 1px solid #ced4da;
}