/*Sticky Footer from https://css-tricks.com/couple-takes-sticky-footer/ */
html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
  }

/* homepage landing stylling */
.home-img {
    background: url('https://res.cloudinary.com/sjb21/image/upload/v1642009399/static/landing-image_jaq8ob.jpg') no-repeat center center fixed;
    min-height: 700px; 
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title {
    color: white;
    background: rgba(255, 255, 255, 0.199);
    text-align: center;
    margin: 270px 140px;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
}

.welcome {
    color: #A7490D;
}

/* Recipe Card Stylling */
.card-position {
    margin-bottom: 10px;
}
.card-icons {
    color: #0b1726;
    padding-right: 5px;
}

.recipe-card-img {
    /* w3schools used to find object-fit property*/
    max-height: 191px;
    object-fit: cover;
}


/* footer stylling */
.footer {
    background-color: #0b1726;
    margin-top: 25px;
    color: #ecece2;
    text-align: center;
    font-size: 20px;
}

.footer p {
    padding-top: 20px;
    margin: 0;
}

.footer a {
    color: #ecece2;
    padding: 5px;
}

.social-links {
    color: #ecece2;
    padding: 20px;
    margin: 0;
    font-size: 30px;
}

/* recipe detail stylling */

.details-img {
    max-height: 300px;
    object-fit: cover;
}
