{% extends "base.html" %}
{% block title %}Foody Family | Add Recipe{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{%load static%}

<h1>Add Recipe</h1>

<!-- Below from Code Institutes CodeStar project. Message to appear beneath page if one. -->
{% if messages %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
        {{ message | safe }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<!-- load cloudinary allows user to upload their own images -->

{% load cloudinary %}

<!-- Add Recipe Form, can only be accessed if the user has an account.
Form model, fields and widgets set in forms.py file in recipes app. -->

<form method="post" id="add-recipe" class="add-recipe" action="" enctype="multipart/form-data">


  {% csrf_token %}
  {{ recipe_form | crispy }}


  <button type="submit" value="Add Recipe" class="btn btn-dark all-btn">Post Recipe</button>

</form>

<script src="{% static 'js/widget.js' %}"></script>
{% endblock %}