{% extends "base.html" %}
{% block title %}Foody Family | Add Recipe{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<h1>Add Recipe</h1>

<form method="post" style="margin-top: 1.3em;">
  {% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  {% endif %}
  
  {{ recipe_form | crispy }}
  {% csrf_token %}
  <button type="submit" class="btn btn-signup btn-lg">Post Recipe</button>

  <!-- <button type="submit" class="btn btn-primary" id="liveToastBtn">Post Recipe</button> -->

</form>
{% endblock %}