{% extends "base.html" %}
{% block title %}Foody Family | Delete Recipe{% endblock %}
{% block content %}

<h1>Delete {{ recipe.title }} Recipe</h1>

<div class="delete-recipe">
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete this recipe?</p>
        <p id="delete-msg">Deletion is permanent.</p>
        <input type="submit" value="Delete Recipe" class="btn btn-danger">
        <a href="{% url 'home' %}" class="btn btn-dark dlt-btn">Cancel</a>
    </form>
</div>

{% endblock %}