{% extends "base.html" %}
{% block title %}Foody Family | My Pending Recipes{% endblock %}
{% block content %}

<h1>My Recipes Pending Approval</h1>

<!-- Below from Code Institutes CodeStar project -->
{% if messages %}
<div class="container app-messages">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                {{ message | safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

<!--Recipe cards for users own recipes pending approval -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-4 left">
            <div class="row">
                {% for recipes in recipe_list %}
                {% if user.id == recipes.author.id %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card card-position" style="width: 18rem;">
                        {% if "placeholder" in recipes.featured_image.url %}
                        <img src="https://res.cloudinary.com/sjb21/image/upload/v1642006351/static/placeholder_nrind0.jpg"
                            class="card-img-top recipe-card-img" alt="placeholder image">
                        {% else %}
                        <img src="{{ recipes.featured_image.url }}" alt="recipe image">
                        {% endif %}
                        <div class="card-body">
                            <a href="{ %url 'draft_recipe_detail' recipes.slug %}">
                                <h5 class="card-title draft-rec-card-title">{{ recipes.title }}</h5>
                            </a>
                                <hr>
                            <div class="card-text">
                                <span class="edit-btn">
                                    <a href="{% url 'update_draft' recipes.pk %}" class="btn btn-dark edit"><i
                                        class="fas fa-pencil-alt edit-icon"></i>Edit</a>
                                </span>
                                <span class="del-btn">
                                    <a href="{% url 'delete_draft' recipes.pk %}" class="btn btn-danger" class="del"><i
                                        class="far fa-trash-alt del-icon"></i>Delete</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Site Pagination, maximum 12 recipes per page -->
    <div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-dark all-btn">&laquo; Prev </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-dark all-btn"> Next &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>

{% endblock %}