{% extends "base.html" %}
{% block title %}Foody Family | My Pending Recipes{% endblock %}
{% block content %}

<h1>My Recipes Pending Approval</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-4 left">
            <div class="row">
                {% for recipes in recipe_list %}
                {% if user.id == recipes.author.id %}
                {% if recipes.status == 0 %}
                <div class="col-md-3">
                    <div class="card card-position" style="width: 18rem;">
                        {% if "placeholder" in recipes.featured_image.url %}
                        <img src="https://res.cloudinary.com/sjb21/image/upload/v1642006351/static/placeholder_nrind0.jpg"
                            class="card-img-top recipe-card-img" alt="placeholder image">
                        {% else %}
                        <img src="{{ recipes.featured_image.url }}" alt="recipe image">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ recipes.title }}</h5>
                            <div class="card-text">
                                <span>
                                    <a href=""><i class="fas fa-pencil-alt"></i>Edit</a>
                                </span>
                                <span>
                                    <a href=""><i class="far fa-trash-alt"></i>Delete</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:5 %}
            </div>
            <div class="row">
                {% endif %}
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Site Pagination, maximum 12 recipes per page -->
    <div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>

{% endblock %}