{% extends "base.html" %}
{% block title %}Foody Family | My Posted Recipes{% endblock %}
{% block content %}

<h1>My Posted Recipes</h1>

<div class="container-fluid">
    <div class="row align-items-start">
        <div class="col-md-12 mt-4 left">
            <div class="row">
                {% for recipes in recipe_list %}
                {% if user.id == recipes.author.id %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card card-position" style="width: 18rem;">
                        {% if "placeholder" in recipes.featured_image.url %}
                        <img src="https://res.cloudinary.com/sjb21/image/upload/v1642006351/static/placeholder_nrind0.jpg"
                            class="card-img-top recipe-card-img" alt="placeholder image">
                        {% else %}
                        <img src="{{ recipes.featured_image.url }}" alt="recipe image">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title rec-card-title">{{ recipes.title }}</h5>
                            <hr>
                            <div class="card-text">
                                <span class="edit-btn">
                                    <a href="{% url 'recipe_detail' recipes.slug %}" class="btn btn-dark edit"><i
                                        class="fas fa-pencil-alt edit-icon"></i>Edit</a>
                                </span>
                                <span class="del-btn">
                                    <a href="{% url 'update_recipe' recipes.pk %}" class="btn btn-danger" class="del"><i
                                        class="far fa-trash-alt del-icon"></i>Delete</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Site Pagination, maximum 12 recipes per page -->
    <div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="paginate btn btn-dark all-btn">&laquo; Prev </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="paginate btn btn-dark all-btn"> Next &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>

{% endblock %}