{% extends "base.html" %}

{% block content %}

<div class="card mb-3">
    {% if "placeholder" in recipes.featured_image.url %}
    <img src="https://res.cloudinary.com/sjb21/image/upload/v1642006351/static/placeholder_nrind0.jpg"
        alt="placeholder image" class="card-img-top">
    {% else %}
    <img src="{{ recipe.featured_image.url }}" alt="recipe image" class="card-img-top">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ recipe.title }}</h5>
        <p class="card-text">{{ recipe.author }}</p>
        <span lass="card-text"><small>
                <i class="far fa-clock"></i>Prep Time: {{ recipe.preparation_length }}
                <i class="far fa-clock"></i>Cook Time: {{ recipe.cooking_length }}
                <i class="far fa-clock"></i>Total: {{ recipe.total_length }}
            </small>
        </span>
    </div>
</div>

<div>
    <div>
        <h2>Ingredients</h2>
        <span>{{ recipe.ingredients }}</span>
    </div>
    <hr>
    <div>
        <h2>Method</h2>
        <span>{{ recipe.instructions }}</span>
    </div>
</div>

{%endblock%}